section.contacts
    .wrapper
        .contacts-wrapper
            .left
                .top
                    h3.page__title-h3 +7 (495) 278-07-08
                    h3.page__title-h3 +7 (495) 278-07-08
                .mid
                    p.page__text_w-50px Бухгалтерия: buhgalter@myosminozhka.ru
                    p.page__text_w-50px info@myosminozhka.ru
                    p.page__text_w-50px Москва, БЦ Серпуховской Двор 2-й  Рощинский проезд, дом 8
                .bottom
                    a(href="#").page__text_pink Презентация о компании
            .right
                .map
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2248.002011435891!2d37.600994419531666!3d55.706336795602766!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54b67affe67b7%3A0x976d625ce03a293a!2zMi3QuSDQoNC-0YnQuNC90YHQutC40Lkg0L_RgC3QtCwgOCwg0JzQvtGB0LrQstCwLCAxMTU0MTk!5e0!3m2!1sru!2sru!4v1646403233871!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>