footer.footer
    .wrapper
        .info-wrapper
            .info-wrapper-left
                a(href="#").page__text_b-700 Услуги
                a(href="#").page__text_b-400 Канал продаж
                a(href="#").page__text_b-400 Контекстная реклама
                a(href="#").page__text_b-400 Интернет-SEO продвижение
                a(href="#").page__text_b-400 Управление репутацией
            .info-wrapper-mid
                a(href="#").page__text_b-700 О нас
                a(href="#").page__text_b-400 Компания
                a(href="#").page__text_b-400 Команда
                a(href="#").page__text_b-400 Контакты
                a(href="#").page__text_b-400 Новости
            .info-wrapper-right
                a(href="#").page__text_b-700 Клиентам
                a(href="#").page__text_b-400 Отзывы
                a(href="#").page__text_b-400 Портфолио
                a(href="#").page__text_b-400 Услуги