footer.footer
    .tentacles
        img(src="assets/img/tentacles.png")
    .wrapper
        .main-wrapper
            .empty
            .info-main-wrapper
                <info-component></info-component>
                .info-second-wrapper
                    .col
                        a(href="#").page__text_pink_50px.page__link_underline-two +7 (495) 278-07-08
                        a(href="#").page__text_pink_50px.page__link_underline-two +7 (495) 278-07-08
                    .info-second-wrapper-right
                        .page__icon
                            .icon
                                img(src="assets/img/inst2.png")
                        .page__icon
                            .icon
                                img(src="assets/img/facebook.png")
                        .page__icon
                            .icon
                                img(src="assets/img/oth.png")
                        