header.header
    .wrapper
        nav.nav
            .left
                a(href="#")
                    .logo
                        img(src="assets/img/logo.svg")
            .mid
                <nav-component></nav-component>
            .right
                <lang-component></lang-component>
            .burger
                button(type="button" onclick="openBlock()")#burgerBtn.icon
                    span
                    span
                    span
                    span
                #other.other
                    .inner
                        .wrapper
                            .nav-center
                                a(href="#").page__text_w-600.mb20.page__link_underline Услуги
                                a(href="#").page__text_w-600.mb20.page__link_underline Портфолио
                                a(href="#").page__text_w-600.mb20.page__link_underline О компании
                                a(href="#").page__text_w-600.mb20.page__link_underline Команда
                                a(href="#").page__text_w-600.mb20.page__link_underline Отзывы
                                a(href="#").page__text_w-600.mb20.page__link_underline Контакты