extends templates/template

block title
	title Контакты
block append style
block content
	include blocks/header
	include blocks/banner-contacts
	include blocks/contacts
	include blocks/footer
	include blocks/dop-info
	
block append script